.Rproj.user
.Rhistory
.RData
.Ruserdata
JacobRich_WritingProject-concordance.tex
JacobRich_WritingProject.log
JacobRich_WritingProject.synctex.gz
JacobRich_WritingProject.toc
Jacobrich_WritingProject_Presentation-concordance.tex
Jacobrich_WritingProject_Presentation.log
Jacobrich_WritingProject_Presentation.nav
Jacobrich_WritingProject_Presentation.snm
Jacobrich_WritingProject_Presentation.synctex.gz
Jacobrich_WritingProject_Presentation.toc
